
/*inicio estilização HEADER*/
header{
    max-width: 100%;
    max-height: 100px;
    background-position: center center;
    border-bottom: 2px solid #000000;
}


.menu{
    position: absolute;
    width: 100%;
    height: 17%;
    background-color: rgb(8, 133, 95); 
           
}
/*fim estilização HEADER*/

/*inicio estilização links*/
.links_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-top: 1.3%;
    
}

.links_menu li{
    margin-left: 6rem;
    
}

.links_menu li a{
    font-size: 150%;
    padding-bottom: 10px;
    transition: .3s ease-out ;
    color: #000000;
    text-decoration: none;
    
}

.links_menu li a:hover{
    background-color: #f0b968;   
}
/*fim estilização links*/

/*inicio estilização link dropdown*/
.dropdown .btn-secondary {
    background-color: rgb(8, 133, 95);
    border-style: none;
}
.dropdown .btn-secondary:hover {
    background-color: #f0b968; /* Tom mais escuro ao passar o mouse */
    
}

.dropdown-menu {
    background-color: rgb(2, 82, 58);   
}
.dropdown-item {
    background-color: #080500;
    font-size: 16px;
    padding: 10px 15px;
    text-shadow: none;
    
    
}

.dropdown-item:hover {
    background-color: #e68900;
}
/*fim estilização link dropdown*/

.rodape{
    background-color: rgb(194, 252, 233);
    width: 100%;
    height: 250px;
}

.col-lg li{
    list-style-type: none;
}

